# Common shell aliases that I source in ~/.profile

# Use 'doas' rather than 'sudo' when available
if command -v doas > /dev/null; then
   alias _='doas '
else
   alias _='sudo '
fi

alias ~='cd $HOME'
alias -- -='cd -'
alias ..="cd .."
alias ...="cd ../.."
alias bup='brew update && brew upgrade'
alias cg='cargo'
alias g='git'
alias h='fc -li 1'
alias ip='ip --color'
alias ipb='ip --color --brief'
alias k='kubectl'
alias l='exa -agl --git'
alias less='less -i'
alias ls='exa'
alias pwup='cd $HOME/.password-store && git push -u origin master && cd -'
alias pyhttp='python -m http.server 8080'
alias ru='rustup'
alias rup='rustup update'
alias sc='shellcheck'
alias showpath="echo \$PATH | tr -s ':' '\n'"
alias t='tmux new-session -A -s rt'

# Terraform
alias tf='terraform'
alias tfa='terraform apply'
alias tfi='terraform init'
alias tfp='terraform plan'
alias tfs='terraform state'
alias tfv='terraform validate'
alias tfw='terraform workspace'

# Docker
alias d='docker'
alias da='docker attach'
alias db='docker build'
alias dc='docker commit'                        # Clobbers GNU dc calculator tool
alias dclean='docker rmi -f $(docker images -q -a -f dangling=true)' # Removes all untagged images
alias ddr='docker run -d'
alias de='docker exec -t -i'
alias di='docker images'
alias dl='docker pull'
alias dlg='docker logs'
alias dm='docker-machine'
alias dp='docker push'
alias dps='docker ps'
alias dr='docker run'
alias dri='docker run -it --rm'
alias drm='docker rm'
alias drma='docker rm $(docker ps -a -q)'       # Remove all containers
alias drmi='docker rmi'
alias ds='docker stop'
alias dsa='docker stop $(docker ps -a -q)'      # Stop all containers
alias dt='docker tag'


# Work
alias vl='vault login -method=ldap username=ross.timson'
alias vpn='_ openvpn --config /etc/openvpn/client/matillion.conf'
