# Common shell aliases that I source in ~/.profile

# Use 'doas' rather than 'sudo' when available
if command -v doas > /dev/null; then
   alias _='doas '
else
   alias _='sudo '
fi


# General
# ----------------------------------------------------------------------------
alias -- -='cd -'
alias ....="cd ../../.."
alias ...="cd ../.."
alias ..="cd .."
alias //='cd $(git root)'
alias bup='brew update && brew upgrade'
alias cg='cargo'
alias g='git'
alias h='fc -li 1'
alias ip='ip --color'
alias ipb='ip --color --brief'
alias k='kubectl'
alias l='exa -agl --git'
alias less='less -i'
alias ls='exa'
alias pwup='cd $HOME/.password-store && git push -u origin master && cd -'
alias ru='rustup'
alias rup='rustup update'
alias sc='shellcheck'
alias serve='python -m http.server 8080'
alias showpath="echo \$PATH | tr -s ':' '\n'"
alias t='tmux new-session -A -s rt'
alias ~='cd $HOME'

# Cleans up git branches that are no longer on the remote, quick and easy way
# to get rid of local branches once PRs are merged.
alias gbcleanup='git fetch -p ; git branch -r | awk '\''{print $1}'\'' | egrep -v -f /dev/fd/0 <(git branch -vv | grep origin) | awk '\''{print $1}'\'' | xargs git branch -d'


# Bundler
# ----------------------------------------------------------------------------
alias bi='bundle install'
alias be='bundle exec'


# Rails
# ----------------------------------------------------------------------------
alias r='rails'
alias rcon='rails console'
alias rmig='rails db:migrate'
alias rgen='rails generate'


# Terraform
# ----------------------------------------------------------------------------
alias tf='terraform'
alias tfa='terraform apply'
alias tfi='terraform init'
alias tfl='tflint --config=$(git rev-parse --show-toplevel)/.tflint.hcl'
alias tfp='terraform plan'
alias tfs='terraform state'
alias tfv='terraform validate'
alias tfw='terraform workspace'


# Docker
# ----------------------------------------------------------------------------
alias d='docker'
alias da='docker attach'
alias db='docker build'
alias dc='docker commit'                        # Clobbers GNU dc calculator tool
alias dclean='docker rmi -f $(docker images -q -a -f dangling=true)' # Removes all untagged images
alias ddr='docker run -d'
alias de='docker exec -t -i'
alias di='docker images'
alias dl='docker pull'
alias dlg='docker logs'
alias dm='docker-machine'
alias dp='docker push'
alias dps='docker ps'
alias dr='docker run'
alias dri='docker run -it --rm'
alias drm='docker rm'
alias drma='docker rm $(docker ps -a -q)'       # Remove all containers
alias drmi='docker rmi'
alias ds='docker stop'
alias dsa='docker stop $(docker ps -a -q)'      # Stop all containers
alias dt='docker tag'


# Kubernetes
# ----------------------------------------------------------------------------
alias k8s-start='colima start --runtime containerd --with-kubernetes'
alias k8s-stop='colima stop'


# Fun / Silly
# ----------------------------------------------------------------------------
alias matrix='while :; do echo $LINES $COLUMNS $(( $RANDOM % $COLUMNS)) $(printf "\U$(($RANDOM % 500))");sleep 0.05;done|awk '"'"'{a[$3]=0;for (x in a){o=a[x];a[x]=a[x]+1;printf "\033[%s;%sH\033[2;32m%s",o,x,$4;printf "\033[%s;%sH\033[1;37m%s\033[0;0H",a[x],x,$4;if (a[x]>=$1){a[x]=0;}}}'"'"''


# Work
# ----------------------------------------------------------------------------
alias unaws='unset $(env | grep "^AWS_" | egrep -o "^[^=]+")'

