# Checks if a command exists, something like 'which' could be used
# instead of 'command -v' but 'which' is non-standard and shellcheck
# will report it as such and will suggest 'command -v'.
#
# This function is mainly used to test for commands with 'it' statements like so:
#     if _command_exists pyenv; then
#         echo "Command exists so do something"
#     fi
installed() {
	command -v "$1" >/dev/null 2>&1
}


# Get the env vars of a running process
# Example: penv docker
#
# NOTE: Using the sudo/doas alias '_' here rather than hard-coding to
# one orr the other.
penv() {
	_ sh -c "tr '\0' '\n' < /proc/$(pgrep "$1")/environ"
}


# Create a new Clojure application using Boot: https://boot-clj.com
# Example: bna myapp
bna() {
	boot -d boot/new new -t app -n "$1"
}

# Emacsclient
e() {
	emacsclient -c -n -a '' $1
}
