# Get the env vars of a running process
# Example: penv docker
#
# NOTE: Using the sudo/doas alias '_' here rather than hard-coding to
# one orr the other.
penv() {
	_ sh -c "tr '\0' '\n' < /proc/$(pgrep "$1")/environ"
}


# Show files open by a running process, also useful for finding the absolute
# path of a process.
# Example: pspath ssh-agent
pspath() {
	lsof -p $(pgrep "$1")
}


# Create a new Clojure application using Boot: https://boot-clj.com
# Example: bna myapp
bna() {
	boot -d boot/new new -t app -n "$1"
}

# Emacsclient
e() {
	emacsclient -c -n -a '' $1
}
