# -*- mode: conf-unix-mode; indent-tabs-mode: t; tab-width: 4; -*-

[init]
	defaultBranch = main

[user]
	name = Ross Timson
	email = me@rosstimson.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFLG4jA01/e+2YsYsRVkwsimmDKwCu6oZUTGo79sSZm5

# Conditionally set work email when in work dir.
[includeIf "gitdir:~/code/work/"]
	path = ~/.gitconfig-work

[github]
	user = rosstimson

[core]
	attributesfile = ~/.gitattributes
	excludesfile = ~/.gitignore-global
	autocrlf = input
	editor = emacsclient -c -a=

[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta

# https://github.com/dandavison/delta
[delta]
	line-numbers = true
	navigate = true

[branch]
	autoSetupMerge = simple

[pull]
	ff = only

[push]
	default = simple
	followTags = true
	autoSetupRemote = true

[remote]
	pushdefault = origin

[commit]
	gpgsign = true

[diff]
	tool = Kaleidoscope

[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[difftool]
	prompt = false

[merge]
	conflictstyle = diff3
	tool = Kaleidoscope

[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true

[mergetool]
	prompt = false

[gpg]
	format = ssh

[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[sendemail]
	smtpserver = /opt/homebrew/bin/msmtp

[alias]
	a = add
	b = branch
	bl = blame
	c = commit -v
	cl = clone
	co = checkout
	cp= cherry-pick
	d = diff
	ds = diff --staged
	dt = difftool
	f = fetch
	i = init
	l = pull
	last = log -1 HEAD
	lg = !"git lg1"
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(blue)%h%C(reset) - %C(green)(%ar)%C(reset) %s %C(magenta)- %an%C(reset)%C(yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(blue)%h%C(reset) - %C(cyan)%aD%C(reset) %C(green)(%ar)%C(reset)%C(yellow)%d%C(reset)%n''         %s %C(magenta)- %an%C(reset)' --all
	lo = log --oneline
	lr = pull --rebase
	m = merge
	mt = mergetool --no-prompt
	p = push
	prune = fetch --prune
	r = remote
	rb = rebase
	re = restore
	root = rev-parse --show-toplevel
	rs = reset
	rv = revert
	s = status
	sh = show
	sm = switch main
	st = stash
	stash-all = stash save --include-untracked
	std = stash show -p
	sw = switch
	t = tag
	undo = reset --soft HEAD^
	unstage = reset HEAD --
