# Ignore everything in ~/.ssh except ~/.ssh/config
.ssh/*
!.ssh/config

# Ignore transient junk
.local/*
!.local/applications
!.local/rofi/themes

.gnupg/*
!.gnupg/gpg-agent.conf
!.gnupg/gpg.conf
!.gnupg/scdaemon.conf

.emacs.d/spell-fu

.vim/pack/minpac/start
