# -*- mode: conf-unix-mode; indent-tabs-mode: t; tab-width: 4; -*-

[init]
	defaultBranch = main

[user]
	name = Ross Timson
	email = me@rosstimson.com
	SigningKey = 0x667A3481E4BB34F3

# Conditionally set work email when in work dir.
[includeIf "gitdir:~/code/work/"]
	path = ~/.gitconfig-work

[github]
	user = rosstimson

[core]
	attributesfile = ~/.gitattributes
	excludesfile = ~/.gitignore-global
	autocrlf = input
	editor = emacsclient -t -a=

[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta

# https://github.com/dandavison/delta
[delta]
	line-numbers = true
	navigate = true
#	side-by-side = true
	syntax-theme = GitHub

[pull]
	ff = only

[push]
	default = simple
	followTags = true
	autoSetupRemote = true

[remote]
	pushdefault = origin

[commit]
	gpgsign = true

[diff]
	tool = Kaleidoscope

[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[difftool]
	prompt = false

[merge]
	conflictstyle = diff3
	tool = Kaleidoscope

[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true

[mergetool]
	prompt = false

[gpg]
	program = gpg

[alias]
	a = add
	b = branch
	bl = blame
	c = commit -v
	cl = clone
	co = checkout
	com= checkout master
	d = diff
	dt = difftool
	f = fetch
	i = init
	l = pull
	last = log -1 HEAD
	lg = !"git lg1"
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(blue)%h%C(reset) - %C(green)(%ar)%C(reset) %C(black)%s%C(reset) %C(magenta)- %an%C(reset)%C(yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(blue)%h%C(reset) - %C(cyan)%aD%C(reset) %C(green)(%ar)%C(reset)%C(yellow)%d%C(reset)%n''          %C(black)%s%C(reset) %C(magenta)- %an%C(reset)' --all
	lr = pull --rebase
	m = merge
	mt = mergetool --no-prompt
	p = push
	prune = fetch --prune
	r = remote
	rb = rebase
	re = restore
	rs = reset
	s = status
	sh = show
	st = stash
	stash-all = stash save --include-untracked
	std = stash show -p
	sw = switch
	t = tag
	undo = reset --soft HEAD^
	unstage = reset HEAD --

