! Xterm
! -----------------------------------------------------------------------
XTerm*font:              -misc-fixed-medium-r-normal--15-140-75-75-c-90-iso10646-1
XTerm*loginShell:        true
XTerm*scrollBar:         false
XTerm*selectToClipboard: true

! Urxvt
! -----------------------------------------------------------------------
urxvt.scrollBar: false
urxvt.borderLess: false
urxvt.jumpScroll: true
urxvt.scrollTtyOutput: false
urxvt.scrollTtyKeypress: true
urxvt.saveLines: 10000

! Fonts
urxvt.font: xft:GohuFont:pixelsize=14:style:Regular:antialias=false
urxvt.boldFont: xft:GohuFont:pixelsize=14:style:Bold:antialias=false

! Extensions
urxvt.perl-ext-common: matcher,selection-to-clipboard,keyboard-select

! Clickable URLs
urxvt.url-launcher: firefox
urxvt.matcher.button: 1
urxvt.matcher.rend.0: Uline fg8

! keyboard-select
urxvt.keysym.M-Escape: perl:keyboard-select:activate
urxvt.keysym.M-s: perl:keyboard-select:search


! Font settings
! -----------------------------------------------------------------------
xft.autohint: 0
xft.lcdfilter: lcddefault
xft.hintstyle: hintslight
xft.hinting: 1
xft.antialias: 1
xft.dpi: 96
xft.rgba: rgb


! Emacs
! -----------------------------------------------------------------------
emacs.font: GohuFont-14


! Colours
! -----------------------------------------------------------------------
#include "/home/rosstimson/.Xcolors/base16-embers.dark.xresources"

