! -- Urxvt -- !
urxvt*termName: rxvt-unicode-256color
urxvt*.scrollBar_right: false
urxvt*scrollBar: false
urxvt*borderLess: false
! - Extensions
urxvt.perl-lib: /home/rosstimson/.urxvt-perls/
urxvt.perl-ext-common: keyboard-select,url-select,clipboard
! keyboard-select
urxvt.keysym.M-Escape: perl:keyboard-select:activate
urxvt.keysym.M-s: perl:keyboard-select:search
! url-select
urxvt.keysym.M-u: perl:url-select:select_next
urxvt.url-select.launcher: chrome
urxvt.url-select.underline: true
! clipboard
urxvt.clipboard.copycmd:  xclip -i -selection clipboard
urxvt.clipboard.pastecmd: xclip -o -selection clipboard
urxvt.keysym.M-c: perl:clipboard:copy
urxvt.keysym.M-v: perl:clipboard:paste
urxvt.keysym.M-C-v: perl:clipboard:paste_escaped

! -- Font settings -- !
xft.autohint: 0
xft.lcdfilter: lcddefault
xft.hintstyle: hintslight
xft.hinting: 1
xft.antialias: 1
xft.dpi: 96
xft.rgba: rgb

! -- Fonts -- !
!urxvt.font:xft:Inconsolata:medium:size=12
urxvt.font:xft:Source Code Pro for Powerline:RegularForPowerline:12
urxvt.boldFont:xft:Source Code Pro for Powerline:BoldForPowerline:12

! -- Colours -- !
!#include ".Xcolors/Molokai"
!#include ".Xcolors/Solarized"
!#include ".Xcolors/Technicolor_I"
!#include ".Xcolors/Technicolor_II"
!#include ".Xcolors/Technobass"
#include ".Xcolors/TomorrowNightEighties"
!#include ".Xcolors/Xtrail"
