! Xterm
! -----------------------------------------------------------------------
!xterm*font:              -misc-fixed-medium-r-normal--15-140-*-*-*-*-iso8859-*
!xterm*faceName:          Spleen:pixelsize=16:antialias=false
xterm*faceName:          GohuFont:pixelsize=14:antialias=false
xterm*loginShell:        true
xterm*scrollBar:         false
xterm*selectToClipboard: true
xterm*BorderWidth:       0
xterm*metaSendsEscape:   true


! Urxvt
! -----------------------------------------------------------------------
urxvt.scrollBar: false
urxvt.borderLess: false
urxvt.jumpScroll: true
urxvt.scrollTtyOutput: false
urxvt.scrollTtyKeypress: true
urxvt.saveLines: 10000

! Fonts
urxvt.font: xft:GohuFont:pixelsize=14:style:Regular:antialias=false
urxvt.boldFont: xft:GohuFont:pixelsize=14:style:Bold:antialias=false

! Extensions
urxvt.perl-ext-common: matcher,selection-to-clipboard,keyboard-select

! Clickable URLs
urxvt.url-launcher: firefox
urxvt.matcher.button: 1
urxvt.matcher.rend.0: Uline fg8

! keyboard-select
urxvt.keysym.M-Escape: perl:keyboard-select:activate
urxvt.keysym.M-s: perl:keyboard-select:search


! Font settings
! -----------------------------------------------------------------------
xft.autohint: 0
xft.lcdfilter: lcddefault
xft.hintstyle: hintslight
xft.hinting: 1
xft.antialias: 1
xft.dpi: 96
xft.rgba: rgb


! Rofi
! -----------------------------------------------------------------------
! This is a light theme using muted colours that kinda go well with my
! muted colour theme that I use for my terminal and editor.
!                  ´background´, ´border´, ´separator´
rofi.color-window: #F2F1EC,      #F2F1EC,  #444444

! State:           ´bg´,     ´fg´,     ´bgalt´,  ´hlbg´,   ´hlfg´
rofi.color-normal: #F2F1EC,  #444444,  #F9F8F6,  #EAEBF0,  #444444
rofi.color-urgent: #EEE7E8,  #444444,  #F9F8F6,  #DFD1D3,  #444444
rofi.color-active: #F2F1EC,  #69825b,  #F9F8F6,  #E7EEED,  #444444




! Colours
! -----------------------------------------------------------------------
#include "/home/rosstimson/.Xcolors/rosstimson-muted.xresources"
