# Use vim-plug
#
# First ignore everything in vim-plug and undo dir.
plugged/*
undo/*

# Now whitelist vim-plug
!autoload/plug.vim

# Ignore the binary spelling file and netrw history file
*.spl
.netrwhist
