# Use NeoBundle to manage Vim plugins and keep them out of Git.
#
# First ignore everything in bundle directory.
bundle/*

# Now whitelist Vundle
!bundle/neobundle.vim

# Ignore the binary spelling file and netrw history file
*.spl
.netrwhist
