.dap-breakpoints
.lsp-session-v1
anaconda-mode/
company-statistics-cache.el
elpa/
eshell/
ido.last
image-dired/
network-security.data
projectile-bookmarks.eld
projectile.cache
recentf
rosstimson-init.el
smex-items
